@import url('https://fonts.googleapis.com/css2?family=Dosis&display=swap');


*{
    margin: 0;
    font-family: 'Dosis', sans-serif;
    padding: 0;
    font-size: 1rem;
}
body{
    margin: 1rem;
}
p{
    color: rgb(0, 0, 0);
}